#app {
  height: 100vh;
  display: flex;
  flex-direction: row;
}

.sidebar {
  padding: 1rem;
}
.sidebar select {
  margin-bottom: 1rem;
}
.sidebar ul {
  padding-left: 20px;
}

main {
  flex: 1;
  padding: 1rem;
}
