#app {
  height: 100vh;
  display: flex;
  flex-direction: row;
}

.sidebar {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
.sidebar select {
  margin-bottom: 2rem;
}
.sidebar ul {
  padding-left: 20px;
  padding-right: 1rem;
  overflow-y: scroll;
  flex: 1;
}
.sidebar a {
  cursor: pointer;
}

main {
  flex: 1;
  padding: 1rem;
}
