.vbox {
  display: flex;
  flex-direction: column;
}
.hbox {
  display: flex;
  flex-direction: row;
}

#app {
  height: 100vh;
}

.sidebar {
  padding: 1rem 1.5rem 0 1rem;

  select {
    margin-bottom: 1rem;
  }
  button {
    margin-bottom: 1rem;
  }
  ul {
    flex: 1;
    padding: 0.5rem 1rem 0.5rem 20px;
    overflow-y: scroll;
    border: 1px solid lightgray;
  }
  .selected {
    background-color: palegoldenrod;
  }
}

main {
  flex: 1;
  padding: 1rem 2rem 1rem 1.5rem;

  form {
    height: 100%;
  }

  .content-container {
    flex: 1;

    label {
      margin-right: 1rem;
    }
    a {
      text-decoration: underline;
    }
    textarea {
      flex: 1;
    }
  }
}
