.lyrics {
  padding: 1rem 0;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  margin-bottom: 2rem;
}
.lyrics .line:hover {
  background-color: #e0f7fa;
}
.lyrics .line.last {
  margin-bottom: 2rem;
}
.lyrics .orig {
  font-size: 1.8rem;
}
.lyrics .tran {
  font-style: italic;
  color: gray;
}
.lyrics .warning {
  color: #f44336;
  background-color: #fce4ec;
}
