.lyrics {
  padding: 1rem 0;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  margin-bottom: 2rem;
}
.lyrics .line:hover {
  background-color: #e0f7fa;
}
.lyrics .line.last {
  margin-bottom: 1.5rem;
}
.lyrics .orig {
  font-weight: bold;
}
.lyrics .tran {
  font-style: italic;
}
