<%inherit file='base.html' />

<%block name='title_block'>CMS</%block>

<%block name='extrahead'>
<link rel='stylesheet' href='https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css'>
<link rel='stylesheet' href='${ROOT}css/cms.css'>
<script src='https://unpkg.com/vue/dist/vue.min.js'></script>
<script src='https://unpkg.com/vue-router/dist/vue-router.min.js'></script>
</%block>

<body>

<%include file='cms/app.html' />

<!-- Vue templates -->
<div style='display:none'>
  <%include file='cms/mde.html' />
</div>

<!-- Scripts -->
<script src='http://code.jquery.com/jquery-3.1.1.min.js'></script>
<script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.15.3/axios.min.js'></script>
<script src='https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js'></script>
<script src='${ROOT}js/cms.js'></script>

</body>
